input {
    width: 30%;
    height: 6vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .dynamic-fields {
    display: flex !important;
  }

  input {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
  }
   
  input:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  }

  .form-div {
      margin-left: 2%;
      display: grid;
  }

  .margin-div {
      margin-left: 2%;
  }

  .dynamic-div {
      display: grid;
  }

  .input-dynamic {
    width: 65vh;
  }
  
  form {
      margin-top: 1%;
  }

  .display-buttons {
      display: contents;
  }

  .btn-submit {
      width: 6%;
  }

  .btn-dynamic {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: #1B6EB4;
  }

  
