nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #1B6EB4;
    color: white;
  }

  .logo {
      position: relative;
      left: 20%;
    }
  