nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #1B6EB4;
    color: white;
  }

  .logo {
      position: relative;
      left: 20%;
    }
  
.button-nav > button > span {
  color:white
}

.margin-top {
  margin-top: 5px !important;
}

