nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #1B6EB4;
    color: white;
  }

  .logo {
      position: relative;
      right: 5%;
    }
  
  .nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }