.btn {
    background-color: #1B6DB4;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 1vh;
    cursor: pointer;
    outline: none;
    height: 5vh;
    padding: 0 1vw;
    width: auto;
}