ul {
	list-style: none;
}

.aling-icon {
	white-space: nowrap;
	display: flex;
	flex-direction: row;
}

.icon-position {
	align-items: end;
	justify-content: end;
	justify-self: end;
	position: relative;
	left: 75vw;
}

.vote-counter {
	top: -1vh;
}

hr {
	width: 50%;
}

.vote-margin-left {
	margin-left: 15%;
}