ul{
    list-style: none;
}



.list-div {
    width: 90%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.list-div > h3 {
    margin: 0px;
}

.vote {
    white-space: nowrap;
    display: flex;
    flex-direction: row;    
}
.vote-count {
    align-items: end;
    justify-content: end;
    justify-self: end;
    position: relative;
    left: 75vw;
}

.vote-name {
    white-space: nowrap;
}

.btn-vote {
    background-color: transparent;
    border: none;
    color: #5DC347;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline:none;
}

hr {
    width: 50%;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
 
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.card-margin-left {
    margin-left: 1%;
}

.vote-margin-left {
    margin-left: 15%;
}